
<div class=" content">
  <div class="row" >
    <div class=" col-12">
      <div class=" card card-chart">
        <div>
          <div class="row">

            <div class=" col-sm-6">
            </div>
          </div>
        </div>
              <link rel="preconnect" href="https://fonts.gstatic.com">
              <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"  rel="stylesheet">
              <div class="slider">
                <div class="slider__slide slider__slide_yellow"></div>
                <div class="slider__slide slider__slide_red"></div>
                <div class="slider__slide slider__slide_purple"></div>
                <div class="slider__slide slider__slide_dark-purple"></div>
                <div class="slider__slide slider__slide_yellow"></div>
                <div class="slider__slide slider__slide_red"></div>
                <div class="slider__slide slider__slide_purple"></div>
                <div class="slider__slide slider__slide_dark-purple"></div>
                <!-- <div class="left-arrow"></div>
                <div class="right-arrow"></div> -->
              </div>
      </div>
    </div>
  </div>
  
  <div class=" row" style="position: relative;" >
   
    <div class=" col-lg-6">
      <div class="card card-chart" style="    height: 42vh;">
        <div class=" card-header">
          <div class="fix-baner-img">
            <img src="../../../assets/img/banner-svg.svg">
            </div>
            <div class="fix-monkey-img">
              <img src="../../../assets/img/pngegg.png">
              </div>
          <h3 class=" card-title">
         
            <h5 class=" card-category" style="
            font-weight: 400;
            line-height: 1.1;
            color: #fff;">Farms & Staking</h5>
          </h3>
        </div>
        <div class="card-body" style="    padding: 50px;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        flex-direction: row;
        margin-top: 50px;">
          <h2 class="locked-h2">Locked</h2>
        </div>
        <div class="container pb-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-3 col-lg-7">
              <button
              class="btn btn-danger btn-block mr-4 "
              (click)="showNotification('top', 'right')"
            >
              Unlock Wallet
            </button>
            </div>
          </div>
        </div>
        
     

      </div>
    </div>
    <div class=" col-lg-6">
      <div class="card card-chart">
        <div class=" card-header">
          <h3 class=" card-title">
            <h5 class=" card-category" style="   
            font-weight: 400;
            line-height: 1.1;
            color: #fff;">News & Updates</h5>
          </h3>
        </div>
        <div class=" card-body">
          <div id="slider">
            <ul>
              <li>
              <div class="slider-container">
                <p class="centerp">Sports</p>
              </div>
              </li>
              
              
                <li>
                <div class="slider-container">
                <p class="centerp">Political</p>
              </div>
              </li>
                <li>
                <div class="slider-container">
                <p class="centerp">Sports</p>
              </div>
              </li>
                <!-- <li>
                <div class="slider-container">
                <p>“Food was amazing and service could not have been better...we went for a quick lunch as our office is opposite the restaurant...very quick service...I am highly recommending this restaurant to all my family and friends...” <br>Nic Gent – Facebook Page</p>
              </div>
              </li> -->
               <!-- <li>
                <div class="slider-container">
                <p>“Went for the first time last night for my Husbands Birthday, friendly staff, very tasty food, would highly recommend, we will be back.” <br>Joanne Simms – Facebook Page</p>
              </div>
              </li> -->
               <!-- <li>
                <div class="slider-container">
                <p>“A lovely, well decorated restaurant, where great food is served by very friendly staff for a bargain price. The food is authentic and delicious. We'll definitely be returning.”<br>Joe H – Trip Advisor</p>
              </div>
              </li> -->
            </ul>
            </div>
        </div>
      </div>
     
        
  </div>

</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5 class=" card-category pb-5" style="    font-size: 24px;
        font-weight: 400;
        line-height: 1.1;
        color: #fff;
        text-align: center;
        padding: 15px;
        ">ChampSwap Stats</h5>
        <div class="container p-4">
          <div class="row d-flex justify-content-lg-around demo mb-3">
            <p>
              USD MARKET CAP
            </p>
            <p>
              $ 71,521,730
            </p>
          </div>
          
          <div class="row d-flex justify-content-lg-around mb-3">
            <p>
              USD MARKET CAP
            </p>
            <p>
              $ 71,521,730
            </p>
          </div>
          <div class="row d-flex justify-content-lg-around demo mb-3">
            <p>
              USD MARKET CAP
            </p>
            <p>
              $ 71,521,730
            </p>
          </div>
          <div class="row d-flex justify-content-lg-around mb-3">
            <p>
              USD MARKET CAP
            </p>
            <p>
              $ 71,521,730
            </p>
          </div>
          <div class="row d-flex justify-content-lg-around demo mb-3">
            <p>
              USD MARKET CAP
            </p>
            <p>
              $ 71,521,730
            </p>
          </div>
          <div class="row d-flex justify-content-lg-around ">
            <p>
              USD MARKET CAP
            </p>
            <p>
              $ 71,521,730
            </p>
          </div>
          <div class="row d-flex justify-content-lg-around demo mb-3">
            <p>
              USD MARKET CAP
            </p>
            <p>
              $ 71,521,730
            </p>
          </div>
        </div>
        
        <div class="container pt-2">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-3 col-lg-7">
              <button
              class="btn btn-danger btn-block mr-4 "
              (click)="showNotification('top', 'right')"
            >
              Learn More
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6" >
    <div class="card">
      <div class="card-body img-fluid main" data-filter="overlay-theme"  >
        <h5 class=" card-category pb-5" style="    font-size: 24px;
        font-weight: 400;
        line-height: 1.1;
        color: #fff;
        text-align: center;
        padding: 15px;
        ">Earn More To BSC</h5>

<h5 class=" card-category pb-5" style="    font-size: 24px;
font-weight: 400;
line-height: 1.1;
color: #fff;
text-align: center;
padding: 15px;
">589.2%</h5>

<!-- <h5 class=" card-category" style="    font-size: 24px;
font-family: Titan One;
font-weight: 400;
line-height: 1.1;
color: #fff;
text-align: end;
padding: 15px;
">View More -></h5> -->
        <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
    </div>
    <div class="card">
      <div class="card-body img-fluid main2"  >
        <h5 class=" card-category pb-5" style="    font-size: 24px;
        font-weight: 400;
        line-height: 1.1;
        color: #fff;
        text-align: center;
        padding: 15px;
        ">Total Value Locked(TVL)</h5>
        <p class="card-text d-flex justify-content-center" style="    font-size: 24px;
        font-family: Titan One;
        font-weight: 400;
        line-height: 1.1;
        color: #fff;
        text-align: center;
        padding: 15px;
        " >
          $123.3683</p>
        <div class="container pt-5">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-3 col-lg-7">
              <button
              class="btn btn-danger btn-block mr-4"
              (click)="showNotification('top', 'right')"
            >
              Learn More
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
